/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
/* rwd img css，可當作是 CSS Reset 其中一個 */

img{
  max-width: 100%;
  height: auto;
}

/* 全域 border box */

*,*::before,*::after{
  box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.title{
    color: #650300;
    font-weight: bold;    
    text-align: center;
}
.flex-jcw{
    display: flex;
}
.flex-jcc{
    display: flex;
    justify-content: center;
}

.white{
    color: #ffffff;
}
.black{
    color: #000;
}

.lh-3{
    line-height: 24px;
}
.lh-4{
    line-height: 2.25rem;
}
.lh-8{
    line-height: 64px;
}
.lh-9{
    line-height: 4.5rem;
}

.lh-12{
    line-height: 6rem;
}
.fz-2{
    font-size: 16px;
}
.fz-3{
    font-size: 1.5rem;
}
.fz-6{
    font-size: 3rem;
}
.fz-8{
    font-size: 4rem;
}
.pd-3{
    padding: 24px;
}
.pt-6{
    padding-top: 48px;
}
.pt-8{
    padding-top: 4rem;
}
.pb-10{
    padding-bottom: 5rem;
}
/* .fz-12{
    font-size: 96px;
} */
.mr-1{
    margin-right: 0.5rem;
}
.mr-3{
    margin-right: 24px;
}
.ml-1{
    margin-left: 8px;
}
.ml-3{
    margin-left: 24px;
}

.mt-8{
    margin-top: 4rem;
}
.mb-1{
    margin-bottom: 0.5rem;
}
.mb-2{
    margin-bottom: 16px;
}
.mb-4{
    margin-bottom: 2rem;
}
.mb-5{
    margin-bottom: 2.5rem;
}
.mb-60{
    margin-bottom: 3.75rem;
}

@media (max-width:768px){
    html{
        font-size: 11px;
    }
    /* .fz-3{
        font-size: 1.25rem;
    } */

    /* .fz-6 {
        font-size: 2rem;
    } */

    /* .fz-8 {
        font-size: 3rem;
    } */

    /* .lh-4{
        line-height: 1.875rem;
    } */

    /* .lh-9 {
        line-height: 3rem;
    } */

    /* .lh-12 {
        line-height: 4.5rem;
    } */
    /* .mr-1{
        margin-right: 0.3rem;
    } */
    /* .mb-1{
        margin-bottom: 0.1rem;
    }
    .mb-4{
        margin-bottom: 1.5rem;
    }
    .mb-5{
        margin-bottom: 1.5rem;
    } */
    /* .mt-8{
        margin-top: 2.5rem;
    } */
    /* .mb-60{
        margin-bottom: 2rem;
    } */
    /* .pb-10{
        padding-bottom: 3rem;
    }     */
}

@media (max-width:375px){
    html{
        font-size: 8px;
    }
    .mb-1 {
        margin-bottom: 0.25rem;
    }
    .mr-1 {
        margin-right: 0.25rem;
    }
    /* .fz-8{
        font-size: 2rem;
    } */
    .prof-item h3{
        font-size: 20px;
        line-height: 30px;
    }
    .lh-12{
        line-height: 45px;
    }


}
.container{
    max-width: 1200px;
    margin: 0 auto;    
}

@media (max-width:768px){
    .container{
        max-width:672px;
    }    
}

@media (max-width:375px){
    .container{
        max-width: 352px;
    }
}
/* header2020 早春系列(PC) */
.ham-icon {
    display: none;
}
.header{
    background-color: #AA06010D;
}
.menu{
    padding: 0 88px;
    padding-right: 72px;
    background-color: #AA0601;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{    
    width: 80px;
    height: 100%;
}

.navbar{
    display: flex;
}

.navbar li a{
    display: block;
    line-height: 30px;
    font-size: 20px;
    padding: 16px;
    margin: 24px 16px;
    color: #ffffff;
}

.navbar li:last-child a{
    /* padding-right: 0; */
    margin-right: 0;
}

.banner-bg{   
    background-image: url(https://rockalen.github.io/w3HomeWork/images/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.banner{
    height: 840px;
    color: #650300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* padding-right: 360px; */
    font-weight: 700;
}
.banner p{
    line-height: 56px;
    font-size: 36px;
}
/* .banner h1{
    line-height: 96px;
    font-size: 64px;
} */
/* header2020 早春系列(平板) */
@media (max-width:768px){
    .ham-icon {
        display: none;
    }
    .menu{
        padding-left: 48px;
        padding-right: 38px;
    }
    .banner p{
        font-size: 20px;
        line-height: 30px;
    }
    .banner-bg{
        background-image: url(https://rockalen.github.io/w3HomeWork/images/68.png);
       
    }
    .navbar li a{
        padding: 10px;
        margin: 30px 10px;
    }
}

/* header2020 早春系列(手機) */
@media (max-width:375px){
    .menu{
        text-align: center;
        background: #AA0601;
        position: relative;
        padding: 10px 0;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 48px;
    }
    .ham-icon {
        display: flex;
        position: absolute;
        left: 13px;
        color: #FFFFFF;
        font-size: 24px;
    }

    .navbar {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        max-height: 0px;
        transition: all 0.8s;
        overflow: hidden;
        z-index: 120;
    }

    .navbar.active {
        max-height: 244px;
    }
    .navbar{
        /* display: flex; */
        flex-direction: column;
    }  
    .navbar li a {
        display: block;
        background: #AA0601;
        color: #FFFFFF;
        border-top: 1px solid #FFFFFF;
        padding: 15px 0;
        margin: 0;
        text-decoration: none;
    }
    .navbar li a:hover {
        background: #8f0400;
    }
    .banner{
        height: 394px;
    }
    .banner-bg{
        background-image: url(https://rockalen.github.io/w3HomeWork/images/banner-phone.png);
        background-size: cover;
        /* background-position: left 0; */
    }

    .banner p{
        font-size: 16px;
    }
}

.prof{
    background-color: #AA06010D;
}
.prof-item{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;   
}
.prof-item li{
    width: 25%;
    padding: 0 37px;
    margin: 0 12px;
    text-align: center;
}
.prof-item li:first-child{
    padding-left: 0;
    margin-left: 0;
}
.prof-item li:last-child{
    padding-right: 0;
    margin-right: 0;
}
.prof-item img{
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
}

.prof-item p{
    font-weight: 600;
    margin-top: 4px;
    text-align: left;
}
/* prof(平板) */
@media (max-width:768px){
    .prof-item{
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .prof-item li{
        width: 46%;
        padding: 0 50px;
        margin-bottom: 32px;
    }
    .prof-item li:first-child{
        padding-left: 50px;
        margin-left: 12px;
    }
    .prof-item li:last-child{
        padding-right: 50px;
        margin-right: 12px;
    }
    .prof-item img{
        width: 80px;
        height: 80px;
        margin-bottom: 16px;
    }

    .prof-item p{
        margin-top: 8px;
    }
    /* .order-1{
        flex:1;
    } */
    .order-1{
        order:1;
    }
    .order-2{
        order:2;
    }
}

/* (手機) */
@media (max-width:375px){
    .prof-item li{
        width: 100%;
    }
    
}
/* product 經典系列鏡框 */

.product-list{    
    margin-top: 60px;
    padding-bottom: 48px;
    /* display: flex; */
    /* justify-content: center; */
}

.product-list li{    
    display: flex;
    align-items: center;
    margin-bottom: 32px;   
}

.product-list h3{ 
    /* width: 45%; */
    display: flex;
    align-items: center;
    color: #AA0601;
    font-style: italic;
    font-weight: 700;
}
.product-list li:nth-child(2) h3{
    /* width: 50%; */
}
.product-list li:nth-child(2) img{
    width: 100%;
}
.product-list li:nth-child(2) h3 img{
    width: auto;
}
.sunglasses{
    flex-direction: row-reverse;
}

.sunglasses div{    
    margin-bottom: 0px;
}

.sg-img{
    /* width: 100%; */
    display: flex;
    position: relative; 
}
.sg-img::before{
    content: "";    
    position: absolute;
    background-image: url(https://rockalen.github.io/w3HomeWork/images/15.png);
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.sg-img:hover::before {
    opacity: 1;
}

/* 經典系列鏡框(平板) */
@media (max-width:768px) {
    .product-list{
        margin-top: 32px;
    }
    .product-list li{
        margin-bottom: 8px;
    }
    .product-list h3{ 
        width: 100%;
    }
    .product-list li:nth-child(2){
        flex-direction: row;
    }
    .product-list li:nth-child(2) h3 {
        margin-right: 0;
    }

    .product-list img{
        width: 50%;
        /* margin-right: 0; */
    }
    .product-list h3{
        /* width: 50%; */
        font-size: 2.55rem;        
        justify-content: center;        
    }
    .product-list h3 img{
        width: 10%;
           
    }
    .product-list li:nth-child(2) h3 img{
        width: 10%;
    }
    .sg-img{
        margin-left: 0;
        width: 100%;
        /* margin-right: 1.85%; */
    }
    

}
/* 經典系列鏡框(手機) */

@media(max-width: 375px) {
    .product-list li{
        position: relative;
        
    }

    .product-list img{
       width: 100%; 
    }
    .product-list h3{
        font-size: 28px;
        line-height: 42px;
        position: absolute;
        color: #ffffff;
    }
    .optical h3 img{
        width: 32px;
        margin-right: 0.5rem;
        content: url('https://rockalen.github.io/w3HomeWork/images/icon-diamond-white.svg')
     }
    .sunglasses h3 img{
        width: 32px;
        margin-right: 0.5rem;
        content: url('https://rockalen.github.io/w3HomeWork/images/icon-sun-white.svg')
     }
    .functional h3 img{
       width: 23px;
       margin-right: 0.5rem;
       content: url('https://rockalen.github.io/w3HomeWork/images/icon-thunder-white.svg')
    }
}

/* 聯名設計鏡框 */
.design{
    background-size: auto 2162px;
    display: flex;
    flex-direction: column;
    background-image: url(https://rockalen.github.io/w3HomeWork/images/bg.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.joint-dgn{
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 1539px;
    display: flex;
}

.joint-dgn-col{
    display: flex;
    flex-direction: column;
}
.joint-dgn-row{
    display: flex;
    flex-direction: row;
}

.joint-dgn-phone-block{
    display: none;
}
/* .joint-dgn-item5{
    
    margin-bottom: 8px;
} */


/* .joint-dgn-more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 167px;
    background-image: url(../images/more.png);
    background-repeat: no-repeat;
    background-position: right 78px top 8px;
} */


.joint-dgn-more{
    width: 100%;
    /* height: 50%; */
    /* height: 100%; */
    position: relative;
    margin-top: 6px;
    /* padding-right: 78px; */
    
    display: flex;
    justify-content: flex-end;
    
}
.joint-dgn-more span::before{
    content: "MORE";
    position: absolute;
    transition: all .65s .3s;
    transform: translateY(0px);
}
.joint-dgn-more span:hover::before{
    transform: translateY(-85px);
    opacity: .7;
}

.joint-dgn-more span::after{
    content: "MORE";
    position: absolute;
    transition: all .65s .3s;
    transform: translateY(0px);
}
.joint-dgn-more span:hover::after{
    transform: translateY(-145px);
    opacity: .4;
}

.joint-dgn-more:hover span img:last-child{
    transform: translateX(15px);
}
.joint-dgn-more img{
    margin-right: 83px;
}


.joint-dgn-more span img{
    margin-top: 10px;
    margin-left: 17px;
}
.joint-dgn-more span{
    padding-left: 32px;
    padding-right: 19px;
    top:16%;
    position: absolute;
    /* display: block; */
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    /* height: 105px; */
    max-width: 315px;
    /* text-align: center; */
    background-color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    color: #AA0601;
    line-height: 108px;
}



.joint-dgn-box{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    color: #AA0601;
    font-size: 72px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 80px;
}

.joint-dgn-box li{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 592px;    
    background-repeat: no-repeat;
    background-size: cover;

}

.joint-dgn-box li::after{
    position: absolute;
    height: 100%;
    width: 100%;
    content:"";
    background:rgba(255, 255, 255,0.5) ;

}
.joint-dgn-box li span{
    z-index: 10000;
}
.joint-dgn-box-item1{
       
    background-image: url(https://rockalen.github.io/w3HomeWork/images/product-8.png);
    margin-right: 30px;    
}

.joint-dgn-box-item2{    
    background-image: url(https://rockalen.github.io/w3HomeWork/images/product-9.png);    
}
/* design聯名設計(平板) */
@media (max-width:768px){
    .design{
        background-size: auto 1221px;
    }
    
    .joint-dgn{
        max-width:672px;
        margin-top: 32px;
        margin-bottom: 40px;
    }
    .joint-dgn-phone-block{
        display: none;
    }
    .joint-dgn-more{
        margin-top: 0;
    }
    
    .joint-dgn-more img{
        /* width: 35%; */
        /* height: 35%; */
        margin-right: 47px;
    }
    .joint-dgn img{
        /* margin-right: 0.3rem; */
    }
    .joint-dgn-more div{
        /* margin-top: 0; */
        width: 147px;
        height: 77px;
        display: flex;
        justify-content: flex-end;
    }
    .joint-dgn-more span{
        padding-left: 19px;
        /* padding-right: 19px; */
        top: 9%;
        font-size: 40px;
        line-height: 59px;
        max-width: 178px;
    }
    .joint-dgn-more span img {        
        width: 22px;
        margin-top: 7px;
        margin-left: 10px;
        
    }
    .joint-dgn-box{
        font-size: 32px;
        margin-bottom: 0;
    }
    .joint-dgn-box li{
        /* max-width: 322px; */
        height: 280px;
    }
}

/* design聯名設計(手機) */
@media (max-width:375px){
    .joint-dgn{
        max-width:327px;
    }
    .joint-dgn-box{
        flex-wrap: wrap;
    }
    .joint-dgn-box li{
        max-width:100%;
        width: 100%;
    }
    .joint-dgn-phone-block{
        display: flex;
        margin-bottom: 2px;
    }
    .box-hidden{
        display: none;
    }
    .joint-dgn-col img{
        max-width: 169px;
    }
    .joint-dgn-box-item1{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .joint-dgn-item4 img{
        min-width: 156px;
        max-height: 226px;
    }
    .joint-dgn-more{
        justify-content: flex-start;
    }
    .joint-dgn-more span {
        padding-left: 12px;
        top: 34px;
        left: 13px;
        font-size: 26px;
        line-height: 41px;
        max-width: 124px;
    }
    .joint-dgn-p6 img{
        max-width: 32px;
        min-height:99px;
    }

    .joint-dgn-item7{
        /* width: 76%; */
    }
    .joint-dgn-more div{
        justify-content: flex-start;
        /* align-items: center; */
        height: 53px;
        margin-top: 28px;
    }
    .joint-dgn-more div img{
        
        width: 102px;       
    }
    .joint-dgn-more span img{
        margin-top: 0;
        margin-left: 8px;
        width: 18px;
    }


}
.recommend-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.recommend-list li{
    width: 23.5%;
    font-size: 16px;
    background-color: #ffffff;
    border-color: #DEE2E6;
    border-style: solid;   
    
}

.recommend-list h3{
    padding: 16px;
    line-height: 21px;
    font-weight: 600;   
}

.recommend-list li div{
    border-color: #DEE2E6;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}
.recommend-list li p{    
    padding: 16px;
    padding-top: 0px;      
}

.recommend-list li p:last-child{ 
    line-height: 21px;     
}
/* 顧客推薦recommend(平板) */
@media (max-width:768px){
    .recommend-list{
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .recommend-list li{
        width: 48.4%;
    }

    .recommend-list li p:last-child {
        color: #707070;
    }
}
/* 顧客推薦recommend(手機) */
@media (max-width:375px) {
    .recommend-list li{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 16px;
    }
}


/*  */
label {
    display: block;
}
.contact{
    background-color: #AA06010D;
    /* 為了能讓H2的mt在contact內(被景色能一致)，故要使用flex */
    display: flex;
    flex-direction: column;
    padding-bottom: 92px;    
}
.contact-container{    
    max-width: 792px;
    margin: 0 auto;    
}
.contact-container p{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 18px;
}
.contact-container label{
    margin-bottom: 4px;
}

.contact-container input,textarea{
    width: 100%;
    font-family:'Microsoft JhengHei';
    font-size: 16px;
    border: 1px solid #000;
}
.contact-container input{   
    padding:12.5px 16px;    
}

.contact-container textarea {
    height: 136px;
    padding: 14px 16px;
    box-sizing: border-box;
    /* border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8; */
    resize: none;
}
.checkbox{
    display: flex;
    align-items: center;
}
.checkbox label{
    margin-bottom: 0;
    line-height: 24px;
}
.checkbox input{
    margin: 4px;
    width: 22px; 
    height: 22px;
}

.frm-btn{
    display: block;
    width: 180px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
    background-color: #AA0601;
}

/* contact聯絡我們(平板) */
@media (max-width:768px){
    .contact{
        font-size: 16px;
        padding-bottom: 56px;
    }
    .contact-container{    
        max-width: 498px;       
    }

    .contact-container p{
        font-size: 16px;
        line-height: 24px;
        margin-top: 1rem;
        margin-bottom: 0.875rem;
    }

    .frm-btn{
        width: 136px;
        height: 36px;
        line-height: 36px;
    }
}
/* contact聯絡我們(手機) */
@media (max-width:375px){
    .contact{
        padding-bottom: 6rem;
    }
    .contact-container{        
        max-width:327px;
    }

    .contact-container p{
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }
    .contact-container label{
        font-size: 2rem;
        line-height: 21px;
    }

    .checkbox{
        align-items: start;
    }
    .checkbox input{
        margin-top: 0;
    }

    .frm-btn{
        font-size: 2rem;
        font-weight: 600;
    }
}

/* footer */
.footer{
    color: #ffffff;
    background-color: #aa0601;
    
}

.footer a{
    color: #ffffff;
}
.footer-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 32px; */
}

.ft-main-menu{
    display: flex;
}
.ft-main-menu a{
    /* color: #ffffff; */
    padding: 0 24px;
    line-height: 24px;
  
}

.ft-main-menu a:first-child{
    padding-left: 0;
}
.ft-social-menu{
    display: flex;
    
}

.ft-social-menu a{
    padding-right: 32px;
}
.ft-social-menu li:last-child a{
    padding-right: 0;
}
.call{
    /* padding: 24px; */
    font-size: 36px;
    
}
.call li{   
    line-height: 54px;
}
.call li img{
    vertical-align:middle;
    padding-right: 12px;    
}
.call li:first-child{
    margin-bottom: 16px;    
}
.call li:first-child img{    
    margin-right: 12px;
}
.call li:last-child{
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 24px;
}
.ft-end{
    margin-top: 24px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright img{
    margin-right: 38px;
    vertical-align: middle;
    line-height: 24px;
}
.policy{
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 24px;

}
.policy li:first-child {
    width: 82%;
}
.policy a{
    display: block;
    font-size: 14px;
    line-height: 21px;    
}
.policy li:last-child a{   
   margin-left: 62px;
}

/* footer 頁尾區塊(平板) */
@media (max-width:768px){
    .footer{
        font-size: 16px;
    }
    .ft-main-menu a {
        padding: 0 20px;
    }
    .ft-main-menu li:first-child a{
        padding-left: 0;
    }
    .ft-social-menu img{
        width: 24px;
    }

    .ft-social-menu a{
        padding-right: 24px;
    }
    .ft-social-menu li:last-child a{
        padding-right: 0;
    }

    .call li{
        font-size: 20px;
        line-height: 30px;
    }
    .call li img{
        width: 24px;
        padding-right: 0;
        margin-right: 8px;
    }

    .call li:last-child{
        padding-bottom: 27px;
    }

    .copyright img{
        display: none;
    }
    .policy li:first-child {
        width: 77%;
    }
    .policy li:last-child a{
        margin-left: 24px;
    }
   
    .ft-end{
        padding-bottom: 40px;
    }
}

/* (手機) */

@media (max-width:375px){
    .ft-main-menu{
        display: none;
    }
    .ft-phone-bar{
        padding-top: 3.5rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        /* align-items: center; */
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 3rem;
    }

    .footer-bar{        
        padding-top: 0;
    }
    .call li{
        font-size: 2rem;
    }
    .call li:first-child{
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .call li img{
        width: 13px;
    }
    .call li:first-child img{
        margin-right: 1rem;        
    }
    .call li:last-child{
        border-bottom: 0;
        padding-bottom: 0;
    }

    .copyright img{
        display: flex;
        width: 46px;
        margin-right: 0;
    }

    .ft-end{
        flex-direction: row-reverse;
        align-items: flex-end;
        margin-top: 16px;
        padding-bottom: 20px;
    }
    .ft-end div{
        /* display: flex; */
       
    }

    .policy{
        flex-direction: column;
        font-size: 14px;
        line-height: 21px;
    }
    .policy li{
        margin-bottom: 8px;
    }
    .policy li:first-child {
        width: 100%;
    }
    .policy li:last-child a{
        margin-left: 0;
    }
    
    
}